@{
    ViewData["Title"] = "Contato";
}

<div class="text-center">
    <h1 class="display-4">Contato</h1>
    <p>Desenvolvido por <a href="https://www.linkedin.com/in/thiagomarcondes/">Thiago Marcondes de Sá</a>.</p>
</div>
